@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
    width: 100%;
}

ul {
    list-style-type: none;
}

/* BLOCKS */

body {
    font-family: "Montserrat", sans-serif;
    background-color: var(--main-light-bg);
    -webkit-font-smoothing: antialiased;
    min-height: 200dvh;
}

/* VARIABLES */

:root {
    --primary-light-bg: rgb(248, 248, 248);
    --light-gradient-bg: linear-gradient(110deg, rgb(250, 93, 84) 0%, rgb(21, 120, 177) 60%, rgb(180, 227, 238) 100%);
    --primary-light-text: rgb(30, 30, 30);
    --secondary-light-text: rgb(255, 255, 255);
    --accent-color: 250, 93, 84;

    --font-x-small: 14px;
    --font-small: 16px;
    --font-medium: 18px;
    --font-big: 20px;

    --shadow: 0px 3px 9px 0px rgba(0, 0, 0, 0.2);
}

/* UTILITY CLASSES */

.no-scroll {
    overflow-y: hidden;
}

.main-container {
    width: 90%;
    margin-inline: auto;
    padding-inline: 10px;
}

.txt-center {
    text-align: center;
}

.section-title {}

.btn {
    text-align: center;
    font: inherit;
    font-size: var(--font-small);
    font-weight: 500;
    color: var(--secondary-light-text);
    padding: 10px 15px;
    border: none;
    border-radius: 3px;
    background-color: rgba(var(--accent-color), 0.8);
    box-shadow: var(--shadow);
}


@media screen and (min-width: 768px) {
    .main-container {
        width: 60%;
    }
}

/* MENU */

.desktop-menu {
    display: none;
}

.hamburger-wrapper {
    background-color: transparent;
    width: 100%;
    height: 55px;
    /*     background-color: var(--primary-light-text);
    background-image: var(--light-gradient-bg); */
    box-shadow: var(--shadow);
    position: absolute;
}

.hamburger {
    display: flex;
    flex-flow: column;
    cursor: pointer;
    padding: 5px;
    position: absolute;

    top: 10px;
    right: 15px;
    z-index: 100;
}

.hamburger .bar {
    width: 25px;
    height: 2px;
    background-color: #ffffff;
    margin: 3px 0;
    transition: 0.5s;
}

.hamburger.active {
    position: fixed;
}

.hamburger.active .bar:nth-child(1) {
    transform: rotate(-45deg) translate(-3px, 8px);
}

.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar:nth-child(3) {
    transform: rotate(45deg) translate(-3px, -8px);
}

.menu {
    background-color: var(--shadow);
    /*     background-image: var(--light-gradient-bg); */

    z-index: 1;
    font-weight: 600;
    color: #ffffff;
    font-size: var(--font-medium);
}

nav p {
    cursor: pointer;
}

.logo {
    width: 180px;
    height: 100%;
    margin-left: 15px;
}

.logo img {
    width: 100%;
    height: 100%;
}

.mobile-menu {
    position: fixed;
    display: block;
    top: 0;
    left: 100%;
    width: 100%;
    min-height: 100dvh;
    height: 100dvh;
    transition: 300ms;
    overflow-y: scroll;
    padding-top: 60px;
    padding-bottom: 30px;
    z-index: 99;
    background-image: var(--light-gradient-bg);
}

.mobile-menu > * {
    display: block;
    width: fit-content;
    text-align: center;
    margin-inline: auto;
    padding-block: 30px;
}

.mobile-menu nav ul li p {
    padding-block: 30px;
}

.mobile-menu.active {
    left: 0;
}

@media screen and (min-width: 768px) {
    .mobile-menu {
        display: none;
    }

    .hamburger-wrapper {
        display: none;
    }

    .desktop-menu {
        background-color: transparent;

        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        align-items: center;
        height: 70px;
        padding-inline: 10%;
    }

    .desktop-menu nav {
        width: 50%;
    }

    .desktop-menu nav ul {
        display: flex;
        gap: 15px;
        justify-content: space-evenly;
    }

    .desktop-menu nav ul li p {
        display: inline-block;
    }
}

/* MAIN */

.hero-section {
    background-color: var(--primary-light-bg);
    background-image: var(--light-gradient-bg);
    height: 100dvh;
}

.hero-grid-item:first-of-type {
    display: none;
}


@media screen and (min-width: 768px) {

    .hero-image-wrapper {
        display: block;
    }

    .hero-grid-item:first-of-type {
        display: block;
    }

    .hero-grid {
        display: grid;
        height: 100%;
        grid-template-columns: repeat(2, 1fr);
    }

    .hero-text-container {
        display: flex;
        flex-flow: column;
        height: 100%;
        width: 100%;
        justify-content: center;
        padding: 30px;
        max-width: 600px;
    }
}