@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
    width: 100%;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

/* BLOCKS */

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Montserrat", sans-serif;
    background-color: var(--primary-light-bg);
    -webkit-font-smoothing: antialiased;
    min-height: 200dvh;
}

main section:not(:first-of-type) {
    margin-block: 100px;
}

p span {
    display: block;
}



/* VARIABLES */

:root {
    --primary-light-bg: rgb(248, 248, 248);
    --light-gradient-bg: linear-gradient(110deg, rgb(250, 93, 84) 0%, rgb(21, 120, 177) 60%, rgb(180, 227, 238) 100%);

    --primary-light-text: rgb(30, 30, 30);
    --primary-light-text-80: rgba(30, 30, 30, 0.8);
    --primary-light-text-60: rgba(30, 30, 30, 0.6);

    --secondary-light-text: rgb(252, 252, 252);
    --secondary-light-text-80: rgba(252, 252, 252, 0.8);
    --secondary-light-text-60: rgba(252, 252, 252, 0.6);

    --accent-color: rgba(250, 93, 84, 0.9);
    --accent-color-80: rgba(250, 93, 84, 0.8);
    --accent-color-60: rgba(250, 93, 84, 0.6);

    --font-x-small: 14px;
    --font-small: 16px;
    --font-medium: 18px;
    --font-big: 20px;
    --font-x-big: 24px;
    --shadow: 0px 5px 9px 0px rgba(41, 41, 41, 0.2);
}

/* UTILITY CLASSES */

.no-scroll {
    overflow-y: hidden;
}

.container {
    width: 90%;
    margin-inline: auto;
}

.text-justify {
    text-align: justify;
}

.section-title {
    margin-block: 12px 24px;
    color: var(--primary-light-text);
    font-size: var(--font-x-big);
    position: relative;
    width: fit-content;
}

.section-title::before {
    content: "";
    position: absolute;
    height: 4px;
    width: calc(100% + 20px);
    max-width: 90vw;
    left: 0;
    bottom: -7px;
    border-radius: 5px;
    background: var(--light-gradient-bg);
}

.section-details {
    margin-block: 10px;
    color: var(--primary-light-text-80);
    font-size: var(--font-medium);
}

.details-underline {
    position: relative;
}

.details-underline::before {
    content: "";
    position: absolute;
    height: 4px;
    width: 100%;
    max-width: 90vw;
    left: 0;
    bottom: -20px;
    border-radius: 5px;
    background: var(--light-gradient-bg);
}

.image-wrapper {
    display: flex;
    justify-items: center;
    align-items: center;
    padding: 10px;
    margin-top: 20px;
    border: 2px solid green;
}

.grid-item {
    height: 100%;
    width: 100%;
}

.btn {
    cursor: pointer;
    text-align: center;
    font: inherit;
    font-size: var(--font-small);
    font-weight: 500;
    color: var(--secondary-light-text);
    padding: 10px 15px;
    border: none;
    border-radius: 3px;
    background-color: var(--accent-color);
    box-shadow: var(--shadow);
    transition: all ease 300ms;
}

.btn:hover,
.btn:focus {
    transform: scale(1.02);
}


@media screen and (min-width: 768px) {
    .container {
        width: 60%;
    }
}

/* MENU */

.desktop-menu {
    display: none;
}

.hamburger-wrapper {
    background-color: transparent;
    width: 100%;
    height: 55px;
    /*     background-color: var(--primary-light-text);
    background-image: var(--light-gradient-bg); */
    position: absolute;
}

.hamburger {
    display: flex;
    flex-flow: column;
    cursor: pointer;
    padding: 5px;
    position: absolute;

    top: 10px;
    right: 15px;
    z-index: 100;
}

.hamburger .bar {
    width: 25px;
    height: 2px;
    background-color: #ffffff;
    margin: 3px 0;
    transition: 0.5s;
}

.hamburger.active {
    position: fixed;
}

.hamburger.active .bar:nth-child(1) {
    transform: rotate(-45deg) translate(-3px, 8px);
}

.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar:nth-child(3) {
    transform: rotate(45deg) translate(-3px, -8px);
}

.menu {
    z-index: 1;
    font-weight: 600;
    color: #ffffff;
    font-size: var(--font-medium);
}

nav p {
    cursor: pointer;
    transition: all ease 500ms;
}

nav p:hover {
    transform: translateY(-5px);
}

.logo {
    width: 180px;
    height: 100%;
    margin-left: 15px;
}

.logo img {
    width: 100%;
    height: 100%;
}

.mobile-menu {
    position: fixed;
    display: block;
    top: 0;
    left: 100%;
    width: 100%;
    min-height: 100dvh;
    height: 100dvh;
    overflow-y: scroll;
    padding-top: 45px;
    padding-bottom: 30px;
    background-image: var(--light-gradient-bg);
    z-index: 99;
    transition: all ease 600ms;
}

.mobile-menu > * {
    display: block;
    width: fit-content;
    text-align: center;
    margin-inline: auto;
    padding-block: 30px;
}

.mobile-menu nav ul li p {
    padding-block: 30px;
}

.mobile-menu.active {
    left: 0;
}

@media screen and (min-width: 768px) {
    .mobile-menu {
        display: none;
    }

    .hamburger-wrapper {
        display: none;
    }

    .desktop-menu {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        align-items: center;
        height: 90px;
        padding-inline: 10%;
        transition: all 800ms ease;
    }

    .desktop-menu.scroll {
        opacity: 1;
        background-image: var(--light-gradient-bg);
        height: 60px;
        box-shadow: var(--shadow);
    }

    .desktop-menu nav {
        width: 65%;
    }

    .desktop-menu nav ul {
        display: flex;
        gap: 10px;
        justify-content: space-evenly;
    }

    .desktop-menu nav ul li p {
        display: inline-block;
    }
}

/* MAIN */

.hero-section {
    background-attachment: stat;
    background-color: var(--primary-light-bg);
    background-image: var(--light-gradient-bg);
    height: 100dvh;
    position: relative;
    overflow: hidden;
    color: var(--secondary-light-text);
}

.hero-grid {
    display: grid;
    height: 100%;
}

.hero-grid-item {
    height: 100%;
    width: 100%;
    max-width: 600px;
}

.hero-grid-item:first-of-type {
    display: none;
}

.hero-text-container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    margin-inline: auto;
    padding: 45px;
}

.hero-text-container h1 {
    font-size: 40px;
    margin-block: 20px;
}

.hero-text-container p {
    font-size: var(--font-small);
    color: var(--secondary-light-text-80);
    margin-bottom: 8px;
}

.hero-btn-wrapper {
    margin-block: 15px;
}

.hero-btn-wrapper .btn:hover {
    font-size: 17px;
}

.wave {
    position: absolute;
    overflow: hidden;
    right: 0;
    width: 200%;
    bottom: -10px;
}

@media screen and (min-width: 1024px) {

    .hero-image-wrapper {
        width: 100%;
        height: auto;
        justify-self: center;
        align-self: center;
        border: 2px solid green;
    }

    .hero-grid-item:first-of-type {
        display: flex;
        padding: 60px;
        justify-self: end;
    }

    .hero-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .hero-text-container {
        padding: 60px;
        margin-inline: 0;
    }

    .hero-text-container h1 {
        font-size: 40px;
        margin-block: 20px;
    }

    .hero-text-container p {
        font-size: var(--font-medium);
        margin-bottom: 10px;
    }

    .wave {
        width: 100%;
    }

}

/* MISSION SECTION  */

.grid-2-col {
    display: grid;
    gap: 40px;
}

@media screen and (min-width: 1024px) {
    .grid-2-col {
        grid-template-columns: repeat(2, 1fr);
    }

}

/* COOPERATION STAGES */

/* PARTNERSHIP */

/* FAQ */

.line {
    display: none;
}

.question {
    font-size: var(--font-big);
    color: var(--primary-light-text-80);
    margin-block: 15px 5px;
    padding-left: 20px;
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.question::before {
    content: "";
    height: 3px;
    width: 15px;
    background: var(--primary-light-text-80);
    position: absolute;
    top: 12px;
    left: 0;
    transition: all ease 300ms;
}

.question::after {
    content: "";
    height: 3px;
    width: 15px;
    background: var(--primary-light-text-80);
    position: absolute;
    top: 12px;
    left: 0;
    transition: all ease 300ms;
}

.hide-collapsible::before {
    transform: rotate(-45deg);
}

.hide-collapsible::after {
    transform: rotate(45deg);
}

.hidden {
    max-height: 0;
}

.answer {
    font-size: var(--font-small);
    color: var(--primary-light-text-60);
    margin-block: 5px;
    overflow: hidden;
    transition: max-height ease 400ms;
}

.answer:not(.hidden) {
    max-height: 250px;
}

/* .collapsible {
    position: relative;
}

.collapse-trigger {
    border: 1px solid red;
    height: 4px;
    width: 15px;
    position: absolute;
    bottom: 0;
}
 */
.faq-grid {
    display: grid;
}

@media screen and (min-width: 1024px) {
    .faq-grid {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 40px;
    }

    .line {
        display: block;
        margin-block: 10px;
        grid-column: 1 / -1;
        height: 2px;
        width: 100%;
        border-radius: 5px;
        background: var(--light-gradient-bg);
    }
}

/* CONTACT SECTION */

.phone-num {
    font-size: var(--font-big);
    font-weight: 500;
    color: var(--primary-light-text-80);
    margin-top: 6px;
}

.contact-form {
    display: grid;
}

.contact-form label {
    font-size: var(--font-small);
    color: var(--primary-light-text-60);
}

.contact-form input:not(:last-of-type) {
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    margin-top: 5px;
    padding-inline: 15px;
    box-shadow: var(--shadow);
    outline: none;
    border: none;
    border-top: 4px solid;
    border-image-slice: 1;
    border-image-source: var(--light-gradient-bg);
    border-radius: 0 0 5px 5px;
    font-size: var(--font-x-small);
    color: var(--primary-light-text-80);
    font: inherit;
}

.contact-form textarea {
    width: 100%;
    margin-bottom: 10px;
    margin-top: 5px;
    padding: 10px 15px;
    box-shadow: var(--shadow);
    outline: none;
    border: none;
    border-top: 4px solid;
    border-image-slice: 1;
    border-image-source: var(--light-gradient-bg);
    border-radius: 0 0 5px 5px;
    font-size: var(--font-x-small);
    color: var(--primary-light-text-80);
    font: inherit;
    resize: none;
}

@media screen and (min-width: 1024px) {
    .contact-form {
        column-gap: 40px;
    }

    .underline-overflow {
        overflow-x: hidden;
    }
}


/* NEWSLETTER */

/* FOOTER */